In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("accidents.txt", sep=',', error_bad_lines=False, index_col=False, encoding= 'unicode_escape',dtype='unicode')

In [3]:
df.head()

,VKL_NUMMER,REGNUMMER,PVOPGEM,DATUM_VKL,DAG_CODE,MND_NUMMER,JAAR_VKL,TIJDSTIP,UUR,DDL_ID,...,PVE_NAAM,KDD_NAAM,PLT_NAAM,DIENSTCODE,DIENSTNAAM,DISTRCODE,DISTRNAAM,DAGTYPE,IND_ALC,WEEKNR
0,20190011333,2019026344,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,...,Friesland,NaN,Regionale Eenheid Noord-Nederland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20190011334,2019025165,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,...,Drenthe,NaN,Regionale Eenheid Noord-Nederland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20190011335,2019026461,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,...,Drenthe,NaN,Regionale Eenheid Noord-Nederland,NN,NN,100,NN District Oost,NaN,NaN,NaN
3,20190011336,2019025726,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,...,Drenthe,NaN,Regionale Eenheid Noord-Nederland,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20190011337,2019024583,NaN,NaN,NaN,NaN,2019,NaN,NaN,NaN,...,Groningen,NaN,NaN,NN,NN,100,NN District Oost,NaN,NaN,NaN

In [4]:
df.columns

Index(['VKL_NUMMER', 'REGNUMMER', 'PVOPGEM', 'DATUM_VKL', 'DAG_CODE',
       'MND_NUMMER', 'JAAR_VKL', 'TIJDSTIP', 'UUR', 'DDL_ID', 'AP3_CODE',
       'AP4_CODE', 'AP5_CODE', 'ANTL_SLA', 'ANTL_DOD', 'ANTL_GZH', 'ANTL_SEH',
       'ANTL_GOV', 'ANTL_PTJ', 'ANTL_TDT', 'MNE_CODE', 'AOL_ID', 'NIVEAUKOP',
       'WSE_ID', 'WSE_AN', 'BEBKOM', 'MAXSNELHD', 'WVL_ID', 'WVG_ID', 'WVG_AN',
       'WDK_ID', 'WDK_AN', 'LGD_ID', 'ZAD_ID', 'WGD_CODE_1', 'WGD_CODE_2',
       'BZD_ID_VM1', 'BZD_ID_VM2', 'BZD_ID_VM3', 'BZD_VM_AN', 'BZD_ID_IF1',
       'BZD_ID_IF2', 'BZD_ID_IF3', 'BZD_IF_AN', 'BZD_ID_TA1', 'BZD_ID_TA2',
       'BZD_ID_TA3', 'BZD_TA_AN', 'JTE_ID', 'WVK_ID', 'HECTOMETER', 'FK_VELD5',
       'HUISNUMMER', 'GME_ID', 'GME_NAAM', 'PVE_CODE', 'PVE_NAAM', 'KDD_NAAM',
       'PLT_NAAM', 'DIENSTCODE', 'DIENSTNAAM', 'DISTRCODE', 'DISTRNAAM',
       'DAGTYPE', 'IND_ALC', 'WEEKNR'],
      dtype='object')

In [6]:
# DROPPING UNNCESSARY COLUMNS FOR OUR ANALYSIS

drop_columns = ['REGNUMMER','PVOPGEM', 'DATUM_VKL', 'DAG_CODE',
       'MND_NUMMER', 'TIJDSTIP', 'UUR', 'DDL_ID',
       'AP4_CODE', 'AP5_CODE', 'ANTL_SLA', 'ANTL_DOD', 'ANTL_GZH', 'ANTL_SEH',
       'ANTL_GOV', 'ANTL_TDT', 'MNE_CODE','WSE_AN', 'BEBKOM', 'WVG_ID', 'WVG_AN','WDK_AN',
       'ZAD_ID','WGD_CODE_2','BZD_ID_VM1', 'BZD_ID_VM2', 'BZD_ID_VM3', 'BZD_VM_AN', 'BZD_ID_IF1',
       'BZD_ID_IF2', 'BZD_ID_IF3', 'BZD_IF_AN', 'BZD_ID_TA1', 'BZD_ID_TA2',
       'BZD_ID_TA3', 'BZD_TA_AN', 'JTE_ID', 'WVK_ID', 'HECTOMETER', 'FK_VELD5',
       'HUISNUMMER','PLT_NAAM', 'DIENSTCODE', 'DIENSTNAAM', 
       'DAGTYPE', 'WEEKNR']

df = df.drop(drop_columns,axis=1)

In [7]:
# KEEP THIS ONE TO SEE ORIGINAL COLUMN NAMES FOR DOCUMENTATION BEFORE RENAMING & ALSO FOR REFERENCES

df.columns

#VKL_NUMMER = Accident_ID
#JAAR_VKL = Year
#AP3_CODE = Accident_Outcome                 ### Reference List: Aflopen3 i
#ANTL_PTJ = Number_Involvers
#AOL_ID = Type_Accident                      ### Reference List: AardOngevallen (Earth Accidents)
#NIVEAUKOP = Road_Level                      ### E=Accident exactly linked to BN, K=K = Accident linked at intersection level,S = Accident linked at street level,G = Accident linked to municipal level

#WSE_ID = Road_Situation                     ### Reference List: wegsituaties (Road Situations)
#MAXSNELHD = Allowed_Max_Speed 
#WVL_ID = Road_Lightning                     ### Reference List: Wegverlichtingen (Road Lighting)
#WDK_ID = Road_Surface                       ### Reference list: Wegdekken (Road surfaces)
#LGD_ID = Lightning_Conditions_Accident      ### Reference List: Lichtgesteldheden (Lighting Conditions)
#WGD_CODE_1 = Road_Situation_2               ### D = Droog, R = Regen, M = Mist, S = Sneeuw/Hagel, H = Harde windstoten, O = Onbekend
#GME_ID = City_ID
#GME_NAAM = City_Name
#PVE_CODE = Province_Code
#PVE_NAAM = Province_Name
#KDD_NAAM = Regions
#DISTRCODE = District_Code
#DISTRNAAM = District_Name
#IND_ALC = Alcohol_Indication                ### J : Yes , N: No

Index(['VKL_NUMMER', 'JAAR_VKL', 'AP3_CODE', 'ANTL_PTJ', 'AOL_ID', 'NIVEAUKOP',
       'WSE_ID', 'MAXSNELHD', 'WVL_ID', 'WDK_ID', 'LGD_ID', 'WGD_CODE_1',
       'GME_ID', 'GME_NAAM', 'PVE_CODE', 'PVE_NAAM', 'KDD_NAAM', 'DISTRCODE',
       'DISTRNAAM', 'IND_ALC'],
      dtype='object')

In [10]:
#RENAMING WHAT'S LEFT

df.columns=['Accident_ID', 'Year', 'Accident_Outcome', 'Number_Involvers', 'Type_Accident',
       'Road_Level', 'Road_Situation', 'Allowed_Max_Speed', 'Road_Lightning', 'Road_Surface',
       'Lightning_Conditions_Accident', 'Road_Situation_2','City_ID','City_Name','Province_Code', 'Province_Name', 'Regions',
        'District_Code', 'District_Name', 'Alcohol_Indication']

In [27]:
df

,Accident_ID,Year,Accident_Outcome,Number_Involvers,Type_Accident,Road_Level,Road_Situation,Allowed_Max_Speed,Road_Lightning,Road_Surface,Lightning_Conditions_Accident,Road_Situation_2,City_ID,City_Name,Province_Code,Province_Name,Regions,District_Code,District_Name,Alcohol_Indication
0,20190011333,2019,UMS,2,0,E,1,60,1,3,3,D,85,Ooststellingwerf,FR,Friesland,NaN,NaN,NaN,NaN
1,20190011334,2019,LET,2,4,S,1,80,3,3,1,D,1681,Borger-Odoorn,DR,Drenthe,NaN,NaN,NaN,NaN
2,20190011335,2019,UMS,1,0,G,1,30,1,1,2,S,114,Emmen,DR,Drenthe,NaN,100,NN District Oost,NaN
3,20190011336,2019,LET,3,8,E,2,80,3,3,2,D,1701,Westerveld,DR,Drenthe,NaN,NaN,NaN,NaN
4,20190011337,2019,UMS,2,8,E,1,130,1,2,3,R,1969,Westerkwartier,GR,Groningen,NaN,100,NN District Oost,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134612,20190078930,2019,UMS,3,4,K,4,NaN,1,1,2,D,888,Beek,LB,Limburg,REGIO LIMBURG,NaN,NaN,J
134613,20190078931,2019,UMS,2,4,E,1,120,2,2,2,D,983,Venlo,LB,Limburg,REGIO LIMBURG,195,ZN District Zuid-Oost,NaN
134614,20190078932,2019,UMS,2,8,E,5,NaN,2,1,1,D,917,Heerlen,LB,Limburg,REGIO LIMBURG,NaN,NaN,NaN
134615,20190078933,2019,UMS,3,8,E,1,50,2,1,1,D,983,Venlo,LB,Limburg,REGIO LIMBURG,NaN,NaN,NaN
134616,20190078934,2019,LET,3,0,E,1,30,3,1,1,D,889,Beesel,LB,Limburg,REGIO LIMBURG,NaN,NaN,NaN

In [34]:
#QUICK CHECK NULL COLUMNS TO HAVE AN IDEA (ALSO DONE BEFORE DROPPING COLUMNS) - 0 is the best!! - TO UNDERSTAND DATABASE :)

# In total we have ~134.000 rows..

number_of_missing_cell = []
for column in df.columns:
    number_of_missing_cell.append(df[column].isnull().sum())
    print(column, "has", number_of_missing_cell[-1], "missing value. \n")

Accident_ID has 0 missing value.

Year has 0 missing value.

Accident_Outcome has 0 missing value.

Number_Involvers has 0 missing value.

Type_Accident has 0 missing value.

Road_Level has 0 missing value.

Road_Situation has 51768 missing value.

Allowed_Max_Speed has 31410 missing value.

Road_Lightning has 51760 missing value.

Road_Surface has 50929 missing value.

Lightning_Conditions_Accident has 3 missing value.

Road_Situation_2 has 52080 missing value.

City_ID has 0 missing value.

City_Name has 0 missing value.

Province_Code has 0 missing value.

Province_Name has 0 missing value.

Regions has 20271 missing value.

District_Code has 90081 missing value.

District_Name has 90081 missing value.

Alcohol_Indication has 132120 missing value.

In [44]:
# TO SEE DISTINCT VALUES IN EACH COLUMN - for specific ones - TO UNDERSTAND DATABASE :)

df.columns=['Accident_ID', 'Year', 'Accident_Outcome', 'Number_Involvers', 'Type_Accident',
       'Road_Level', 'Road_Situation', 'Allowed_Max_Speed', 'Road_Lightning', 'Road_Surface',
       'Lightning_Conditions_Accident', 'Road_Situation_2','City_ID','City_Name','Province_Code',
        'Province_Name', 'Regions','District_Code', 'District_Name', 'Alcohol_Indication']

string_columns = ['Accident_Outcome','Year','Type_Accident','Road_Level','Road_Situation','Road_Lightning',
                  'Road_Surface','Lightning_Conditions_Accident','Road_Situation_2','City_Name','Province_Code',
                  'Province_Name','Regions','District_Code', 'District_Name', 'Alcohol_Indication']

distinct_values_in_each_cell = []
for column in df[string_columns]:
    distinct_values_in_each_cell.append(set(df[column].values))
    print(column, "has", distinct_values_in_each_cell[-1], "\n")

Accident_Outcome has {'DOD', 'LET', 'UMS'}

Year has {'2019'}

Type_Accident has {'4', '2', '8', '0', '6', '7', '3', '1', '9', '5'}

Road_Level has {'K', 'S', 'E', 'G'}

Road_Situation has {nan, '4', '2', '3', '1', '5'}

Road_Lightning has {nan, '2', '3', '1'}

Road_Surface has {nan, '2', '3', '1'}

Lightning_Conditions_Accident has {nan, '2', '3', '1'}

Road_Situation_2 has {nan, 'R', 'H', 'D', 'S', 'M'}

City_Name has {'Aalten', 'Dinkelland', 'Waalre', 'Goes', 'Sittard-Geleen', 'Steenbergen', 'Veendam', 'Zeist', 'Sint-Michielsgestel', 'Waddinxveen', 'Goirle', 'Hilvarenbeek', 'Noardeast-Fryslân', 'Berg en Dal', 'Montferland', 'Lelystad', 'De Wolden', 'Culemborg', 'Zwolle', 'Rotterdam', 'Oldambt', 'Assen', 'Oostzaan', 'Gorinchem', 'Boekel', 'Scherpenzeel', 'Hardenberg', 'Ermelo', 'Krimpenerwaard', 'Simpelveld', 'Hilversum', 'Tilburg', 'Heeze-Leende', 'Woudenberg', 'Ouder-Amstel', 'Hellevoetsluis', 'Zuidplas', 'IJsselstein', 'Soest', 'Doetinchem', 'Aalsmeer', 'Landsmeer', 'Baarn', 'Stede Broec', 'Bunschoten', 'Doesburg', 'Zaltbommel', 'Ameland', 'Breda', 'Veenendaal', 'Súdwest-Fryslân', 'Barneveld', 'Delfzijl', 'Zwijndrecht', 'Beemster', 'Someren', 'Enschede', 'Renkum', 'Oegstgeest', 'Stichtse Vecht', 'Ooststellingwerf', 'Gilze en Rijen', 'West Maas en Waal', 'Druten', 'Vught', 'Diemen', 'Maasgouw', 'Eindhoven', 'Raalte', 'Losser', 'Pekela', 'Leiden', 'Bronckhorst', 'Beekdaelen', 'Noord-Beveland', 'Midden-Groningen', 'Laren', 'Landerd', 'Terschelling', 'Bergen (L.)', 'Oude IJsselstreek', 'Haarlem', 'Appingedam', 'Purmerend', 'Uitgeest', 'Borne', 'Nijmegen', 'Staphorst', 'Hendrik-Ido-Ambacht', 'Asten', 'Noordoostpolder', 'Zandvoort', 'Leiderdorp', 'Woensdrecht', 'Loon op Zand', 'Borger-Odoorn', 'Horst aan de Maas', 'Borsele', 'Zundert', 'Westerkwartier', 'Waterland', 'Sliedrecht', 'Pijnacker-Nootdorp', 'Oisterwijk', 'Tubbergen', 'Almere', 'Zutphen', 'Beek', 'Utrecht', 'Bunnik', 'Midden-Drenthe', 'Lochem', 'Tholen', 'Edam-Volendam', 'Midden-Delfland', 'Oldenzaal', 'Dronten', 'Bernheze', 'Deurne', 'Putten', 'Schiermonnikoog', 'Dalfsen', "'s-Hertogenbosch", 'Baarle-Nassau', 'Elburg', 'Den Helder', 'Kaag en Braassem', 'Papendrecht', 'De Fryske Marren', 'Beverwijk', 'Haaksbergen', 'Heerde', 'Oss', 'Zaanstad', 'Hengelo', 'Uithoorn', 'Castricum', 'Vlissingen', 'Wormerland', 'Bergeijk', 'Twenterand', 'Voorst', 'Zeewolde', 'Zwartewaterland', 'De Ronde Venen', 'Son en Breugel', 'Lisse', 'Voorschoten', 'Bodegraven-Reeuwijk', 'Wijk bij Duurstede', 'Noordenveld', 'Bergen op Zoom', 'Uden', 'Bladel', 'Gulpen-Wittem', 'Meierijstad', 'Roosendaal', 'Hellendoorn', "'s-Gravenhage", 'Bergen (NH.)', 'Gennep', 'Koggenland', 'Barendrecht', 'Amersfoort', 'Meerssen', 'Enkhuizen', 'Opmeer', 'Hoogeveen', 'Dantumadiel', 'Noordwijk', 'Gouda', 'Tiel', 'Alblasserdam', 'Arnhem', 'Landgraaf', 'Texel', 'Hollands Kroon', 'Eijsden-Margraten', 'Valkenswaard', 'Amstelveen', 'Harlingen', 'Leeuwarden', 'Heemstede', 'Lopik', 'Opsterland', 'Heumen', 'Eemnes', 'Olst-Wijhe', 'Alphen-Chaam', 'Albrandswaard', 'Renswoude', 'Ede', 'Nissewaard', 'Leudal', 'Westvoorne', 'Oldebroek', 'Winterswijk', 'Zevenaar', 'Boxmeer', 'Weert', 'Harderwijk', 'Woerden', 'Apeldoorn', 'Almelo', 'Rhenen', 'Etten-Leur', 'Coevorden', 'Bloemendaal', 'Waalwijk', 'Gemert-Bakel', 'Delft', 'Katwijk', 'Hattem', 'Wageningen', 'Rijssen-Holten', 'Emmen', 'Smallingerland', 'Meppel', 'Altena', 'Haarlemmermeer', 'Hulst', 'Westervoort', 'Oost Gelre', 'Geldrop-Mierlo', 'Oudewater', 'Maastricht', 'Capelle aan den IJssel', 'Utrechtse Heuvelrug', 'Roermond', 'Hardinxveld-Giessendam', 'Brunssum', 'West Betuwe', 'Vlaardingen', 'Sint Anthonis', 'Nijkerk', 'Stadskanaal', 'Venray', 'Venlo', 'Wierden', 'Vijfheerenlanden', 'Achtkarspelen', 'Helmond', 'Hof van Twente', 'Nieuwkoop', 'Best', 'De Bilt', 'Lingewaard', 'Stein', 'Heerlen', 'Schiedam', 'Amsterdam', 'Schouwen-Duiveland', 'Laarbeek', 'Waadhoeke', 'Nunspeet', 'Terneuzen', 'Valkenburg aan de Geul', 'Lansingerland', 'Reimerswaal', 'Peel en Maas', 'Vaals', 'Gooise Meren', 'Berkelland', 'Tytsjerksteradiel', 'Westerveld', 'Oosterhout', 'Heusden', 'Veere', 'Tynaarlo', 'Rucphen', 'Leusden', 'Hoeksche Waard', 'Heerhugowaard', 'Nederweert', 'Ridderkerk', 'Moerdijk', 'Leidschendam-Voorburg', 'Brummen', 'Hillegom', 'Weststellingwerf', 'Roerdalen', 'Langedijk', 'Heiloo', 'Weesp', 'Rijswijk', 'Beesel', 'Montfoort', 'Overbetuwe', 'Cranendonck', 'Vlieland', 'Hoorn', 'Westerwolde', 'Dongen', 'Boxtel', 'Maasdriel', 'Mill en Sint Hubert', 'Teylingen', 'Ommen', 'Wijdemeren', 'Voerendaal', 'Heemskerk', 'Echt-Susteren', 'Nuenen  Gerwen en Nederwetten', 'Kerkrade', 'Goeree-Overflakkee', 'Loppersum', 'Kampen', 'Sluis', 'Drechterland', 'Zoetermeer', 'Urk', 'Halderberge', 'Brielle', 'Krimpen aan den IJssel', 'Medemblik', 'Reusel-De Mierden', 'Drimmelen', 'Haaren', 'Velsen', 'Oirschot', 'Rheden', 'Neder-Betuwe', 'Duiven', 'Wassenaar', 'Huizen', 'Zoeterwoude', 'Alphen aan den Rijn', 'Molenlanden', 'Eersel', 'Het Hogeland', 'Buren', 'Steenwijkerland', 'Deventer', 'Maassluis', 'Cuijk', 'Mook en Middelaar', 'Schagen', 'Beuningen', 'Alkmaar', 'Rozendaal', 'Grave', 'Heerenveen', 'Wijchen', 'Epe', 'Dordrecht', 'Houten', 'Middelburg', 'Blaricum', 'Geertruidenberg', 'Groningen', 'Veldhoven', 'Nieuwegein', 'Westland', 'Aa en Hunze', 'Kapelle'}

Province_Code has {'NH', 'FR', 'NB', 'DR', 'GL', 'LB', 'FL', 'ZL', 'UT', 'ZH', 'OV', 'GR'}

Province_Name has {'Friesland', 'Drenthe', 'Groningen', 'Gelderland', 'Zuid-Holland', 'Flevoland', 'Noord-Brabant', 'Limburg', 'Overijssel', 'Zeeland', 'Noord-Holland', 'Utrecht'}

Regions has {nan, 'BESTUUR REGIO UTRECHT                   ', 'REGIO TWENTE                            ', 'REGIO GELDERLAND-OV                     ', 'REGIONAAL ORGAAN AMSTERDAM              ', 'STADSREGIO ROTTERDAM                    ', 'STADSGEWEST HAAGLANDEN                  ', 'REGIO NOORD BRABANT-OV                  ', 'KNOOPPUNT ARNHEM-NIJMEGEN               ', 'REGIO UTRECHT-OV                        ', 'REGIO OVERIJSSEL-OV                     ', 'SAMENWERKINGSVERBAND REGIO EINDHOVEN    ', 'REGIO LIMBURG                           ', 'REGIO ZUID HOLLAND-OV                   ', 'REGIO NOORD HOLLAND-OV                  '}

District_Code has {nan, '113', '144', '186', '195', '136', '199', '143', '160', '187', '137', '645', '100', '112', '193', '194', '161', '159'}

District_Name has {nan, 'ON District Zuid', 'WNZ District Noord', 'ZD District Noord', 'ZN District West', 'ZN District Midden', 'NN District Oost', 'MN District Noord', 'ON District Noord', 'ZN District Zuid-Oost', 'ON District Oost', 'MN District Zuid', 'Oost-Nederland District Zuid', 'NN District West', 'WNN District Noord', 'WNN District Zuid', 'ZD District Zuid', 'WNZ District Zuid'}

Alcohol_Indication has {nan, 'J'}