In [1]:
import pandas as pd
import numpy as np

In [2]:
import pymysql
from sqlalchemy import create_engine 
engine =create_engine('mysql+pymysql://root:Pollugubbi#123@localhost/project_mysql')

1.Importing and cleaning data

In [5]:
#df = pd.read_csv('../data/accidents.csv', sep=',', error_bad_lines=False, index_col=False, encoding= 'unicode_escape',dtype='unicode')
df = pd.read_sql_query('SELECT * FROM project_mysql.accidents',engine)

In [6]:
df.head()

,VKL_NUMMER,REGNUMMER,PVOPGEM,DATUM_VKL,DAG_CODE,MND_NUMMER,JAAR_VKL,TIJDSTIP,UUR,DDL_ID,...,PVE_NAAM,KDD_NAAM,PLT_NAAM,DIENSTCODE,DIENSTNAAM,DISTRCODE,DISTRNAAM,DAGTYPE,IND_ALC,WEEKNR
0,20190011333,2019026344,,,,,2019,,,,...,Friesland,,Regionale Eenheid Noord-Nederland,,,,,,,\r
1,20190011334,2019025165,,,,,2019,,,,...,Drenthe,,Regionale Eenheid Noord-Nederland,,,,,,,\r
2,20190011335,2019026461,,,,,2019,,,,...,Drenthe,,Regionale Eenheid Noord-Nederland,NN,NN,100,NN District Oost,,,\r
3,20190011336,2019025726,,,,,2019,,,,...,Drenthe,,Regionale Eenheid Noord-Nederland,,,,,,,\r
4,20190011337,2019024583,,,,,2019,,,,...,Groningen,,,NN,NN,100,NN District Oost,,,\r

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134617 entries, 0 to 134616
Data columns (total 66 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   VKL_NUMMER  134617 non-null  object
 1   REGNUMMER   134617 non-null  object
 2   PVOPGEM     134617 non-null  object
 3   DATUM_VKL   134617 non-null  object
 4   DAG_CODE    134617 non-null  object
 5   MND_NUMMER  134617 non-null  object
 6   JAAR_VKL    134617 non-null  object
 7   TIJDSTIP    134617 non-null  object
 8   UUR         134617 non-null  object
 9   DDL_ID      134617 non-null  object
 10  AP3_CODE    134617 non-null  object
 11  AP4_CODE    134617 non-null  object
 12  AP5_CODE    134617 non-null  object
 13  ANTL_SLA    134617 non-null  object
 14  ANTL_DOD    134617 non-null  object
 15  ANTL_GZH    134617 non-null  object
 16  ANTL_SEH    134617 non-null  object
 17  ANTL_GOV    134617 non-null  object
 18  ANTL_PTJ    134617 non-null  object
 19  ANTL_TDT    134617 non-null  object
 20  MNE_CODE    134617 non-null  object
 21  AOL_ID      134617 non-null  object
 22  NIVEAUKOP   134617 non-null  object
 23  WSE_ID      134617 non-null  object
 24  WSE_AN      134617 non-null  object
 25  BEBKOM      134617 non-null  object
 26  MAXSNELHD   134617 non-null  object
 27  WVL_ID      134617 non-null  object
 28  WVG_ID      134617 non-null  object
 29  WVG_AN      134617 non-null  object
 30  WDK_ID      134617 non-null  object
 31  WDK_AN      134617 non-null  object
 32  LGD_ID      134617 non-null  object
 33  ZAD_ID      134617 non-null  object
 34  WGD_CODE_1  134617 non-null  object
 35  WGD_CODE_2  134617 non-null  object
 36  BZD_ID_VM1  134617 non-null  object
 37  BZD_ID_VM2  134617 non-null  object
 38  BZD_ID_VM3  134617 non-null  object
 39  BZD_VM_AN   134617 non-null  object
 40  BZD_ID_IF1  134617 non-null  object
 41  BZD_ID_IF2  134617 non-null  object
 42  BZD_ID_IF3  134617 non-null  object
 43  BZD_IF_AN   134617 non-null  object
 44  BZD_ID_TA1  134617 non-null  object
 45  BZD_ID_TA2  134617 non-null  object
 46  BZD_ID_TA3  134617 non-null  object
 47  BZD_TA_AN   134617 non-null  object
 48  JTE_ID      134617 non-null  object
 49  WVK_ID      134617 non-null  object
 50  HECTOMETER  134617 non-null  object
 51  FK_VELD5    134617 non-null  object
 52  HUISNUMMER  134617 non-null  object
 53  GME_ID      134617 non-null  object
 54  GME_NAAM    134617 non-null  object
 55  PVE_CODE    134617 non-null  object
 56  PVE_NAAM    134617 non-null  object
 57  KDD_NAAM    134617 non-null  object
 58  PLT_NAAM    134617 non-null  object
 59  DIENSTCODE  134617 non-null  object
 60  DIENSTNAAM  134617 non-null  object
 61  DISTRCODE   134617 non-null  object
 62  DISTRNAAM   134617 non-null  object
 63  DAGTYPE     134617 non-null  object
 64  IND_ALC     134617 non-null  object
 65  WEEKNR      134617 non-null  object
dtypes: object(66)
memory usage: 67.8+ MB

In [9]:
# gives just the total no. of rows and columns in the dataframe
df.shape

(134617, 66)

In [8]:
df.isnull().sum()

VKL_NUMMER    0
REGNUMMER     0
PVOPGEM       0
DATUM_VKL     0
DAG_CODE      0
             ..
DISTRCODE     0
DISTRNAAM     0
DAGTYPE       0
IND_ALC       0
WEEKNR        0
Length: 66, dtype: int64

In [ ]:
# DROPPING UNNCESSARY COLUMNS (having 0 and significantly less non-null values)FOR OUR ANALYSIS

drop_columns = ['PVOPGEM', 'DATUM_VKL', 'DAG_CODE',
       'MND_NUMMER','TIJDSTIP', 'UUR', 'DDL_ID',
       'AP4_CODE', 'AP5_CODE', 'ANTL_SLA', 'ANTL_DOD', 'ANTL_GZH', 'ANTL_SEH',
       'ANTL_GOV', 'ANTL_TDT', 'MNE_CODE','WSE_AN', 'BEBKOM', 'WVG_ID', 'WVG_AN','WDK_AN',
       'ZAD_ID','WGD_CODE_2','BZD_ID_VM1', 'BZD_ID_VM2', 'BZD_ID_VM3', 'BZD_VM_AN', 'BZD_ID_IF1',
       'BZD_ID_IF2', 'BZD_ID_IF3', 'BZD_IF_AN', 'BZD_ID_TA1', 'BZD_ID_TA2',
       'BZD_ID_TA3', 'BZD_TA_AN','HECTOMETER',
       'HUISNUMMER','PLT_NAAM', 'DIENSTCODE', 'DIENSTNAAM', 
       'DAGTYPE', 'WEEKNR']

df = df.drop(drop_columns,axis=1)

In [ ]:
#check for the no.of rows and columns after the filter
df.shape

In [ ]:
# KEEP THIS ONE TO SEE ORIGINAL COLUMN NAMES FOR DOCUMENTATION BEFORE RENAMING & ALSO FOR REFERENCES

df.columns

#VKL_NUMMER = Accident_ID
#JAAR_VKL = Year
#AP3_CODE = Accident_Outcome                 ### Reference List: Aflopen3 i
#ANTL_PTJ = Number_Involvers
#AOL_ID = Type_Accident                      ### Reference List: AardOngevallen (Earth Accidents)

#NIVEAUKOP = Road_Level                      ### E=Accident exactly linked to BN, K=K = Accident linked at intersection level,S = Accident linked at street level,G = Accident linked to municipal level
#WSE_ID = Road_Situation                     ### Reference List: wegsituaties (Road Situations)
#WVL_ID = Road_Lightning                     ### Reference List: Wegverlichtingen (Road Lighting)
#WDK_ID = Road_Surface                       ### Reference list: Wegdekken (Road surfaces)
#WGD_CODE_1 = Road_Situation_2               ### D = Droog, R = Regen, M = Mist, S = Sneeuw/Hagel, H = Harde windstoten, O = Onbekend


#GME_ID = City_ID
#GME_NAAM = City_Name
#PVE_CODE = Province_Code
#PVE_NAAM = Province_Name
#KDD_NAAM = Regions
#DISTRCODE = District_Code
#DISTRNAAM = District_Name

#IND_ALC = Alcohol_Indication                ### J : Yes , N: No
#MAXSNELHD = Allowed_Max_Speed 
#LGD_ID = Lightning_Conditions_Accident      ### Reference List: Lichtgesteldheden (Lighting Conditions)

# Create sub-tables

1) Accidents (Accident ID Primary Key)
2) Roads (
3) City 
4) Others 

## Questions

1) Accident outcome - road situation_2 (If wet, death ratio higher?) -check when it's wet, when it's dry
2) Group by city and sum accident ID's to have an idea about number of accidents in each city 
3) Accident outcome - road lighthning (If day time, accidents more predictable, less death ratio maybe)
4) Accident outcome - alcohol indication (if yes more deaths)

In [ ]:
#RENAMING WHAT'S LEFT

df.columns=['Accident_ID', 'Year', 'Accident_Outcome', 'Number_Involvers', 'Type_Accident',
       'Road_Level', 'Road_Situation', 'Allowed_Max_Speed', 'Road_Lightning', 'Road_Surface',
       'Lightning_Conditions_Accident', 'Road_Situation_2','City_ID','City_Name','Province_Code', 'Province_Name', 'Regions',
        'District_Code', 'District_Name', 'Alcohol_Indication']

In [ ]:
df

In [ ]:
#QUICK CHECK NULL COLUMNS TO HAVE AN IDEA (ALSO DONE BEFORE DROPPING COLUMNS) - 0 is the best!! - TO UNDERSTAND DATABASE :)

# In total we have ~134.000 rows..

number_of_missing_cell = []
for column in df.columns:
    number_of_missing_cell.append(df[column].isnull().sum())
    print(column, "has", number_of_missing_cell[-1], "missing value. \n")

In [ ]:
# TO SEE DISTINCT VALUES IN EACH COLUMN - for specific ones - TO UNDERSTAND DATABASE :)

df.columns=['Accident_ID', 'Year', 'Accident_Outcome', 'Number_Involvers', 'Type_Accident',
       'Road_Level', 'Road_Situation', 'Allowed_Max_Speed', 'Road_Lightning', 'Road_Surface',
       'Lightning_Conditions_Accident', 'Road_Situation_2','City_ID','City_Name','Province_Code',
        'Province_Name', 'Regions','District_Code', 'District_Name', 'Alcohol_Indication']

string_columns = ['Accident_Outcome','Year','Type_Accident','Road_Level','Road_Situation','Road_Lightning',
                  'Road_Surface','Lightning_Conditions_Accident','Road_Situation_2','City_Name','Province_Code',
                  'Province_Name','Regions','District_Code', 'District_Name', 'Alcohol_Indication']

distinct_values_in_each_cell = []
for column in df[string_columns]:
    distinct_values_in_each_cell.append(set(df[column].values))
    print(column, "has", distinct_values_in_each_cell[-1], "\n")